/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

/* Style dell'header */
header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: black;
    height: 50px;
}

.header-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
}

.header-content span{
    color: white;
    padding: 5px;
    background-color: #4a4a4a;
    border-radius: 4px;
}

#view{
    margin-right: 10px;
}

#full-screen:hover,#view:hover{
    background-color: #696969;
    cursor: pointer;
}
/* fine header */

/* Style del main */
main{
    /* padding: 10vh 7vw; */
    height: calc(100vh - 100px);
    overflow: auto;
    /* margin: auto; */
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
}

.user{
    position: relative;
    padding: 10px;
    /* margin-bottom: 10px; */
}

.details{
    position: absolute;
    bottom: 4px;
    background-color: #3d3d3dcb;
    padding: 5px;
    color: white;
}
/* Fine del main */

/* Style del footer e definizione degli hover*/
footer{
    background-color: #222;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    height: 75px;
}

footer nav{
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 70%; */
    justify-content: space-between;
}

.mic-video{
    font-size: 25px;
    display: flex;
}

.mic-video div{
    padding: 0px 10px;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.mic-video div div{
    font-size: 12px;
}

.mic:hover, .video:hover{
    color: red;
}

.settings{
    font-size: 25px;
    display: flex;
}

.settings div{
    margin: 0px 5px;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.settings div div{
    font-size: 12px;
}

.settings div:hover{
    color: green;
}

.fa-share-from-square{
    color: green;
}

.fa-angle-up:before {
    content: "\f106";
    font-size: 10px;
    align-self: center;
}

nav button{
    padding: 28px;
    position: relative;
    left: 0;
    background-color: #343434;
    border-color: #343434;
    color: red;
    cursor: pointer;    
}

nav button:hover{
    background-color: red;
    color: black;
}
/* fine del footer e degli hover */