/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

/* Style dell'header */
header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: black;
}

.header-content{
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
}

.header-content span{
    color: white;
    padding: 5px;
    background-color: #4a4a4a;
    border-radius: 4px;
}

#view{
    margin-right: 10px;
}

#full-screen:hover,#view:hover{
    background-color: #696969;
    cursor: pointer;
}
/* fine header */

main{
    padding: 10vh 7vw;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.user{
    position: relative;
    margin-bottom: 20px;
}

.details{
    position: absolute;
    bottom: 4px;
    background-color: #3d3d3dcb;
    padding: 5px;
    color: white;
}

